html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container-whole {
    width: 100%;
}

.padding {
    /*border: solid;*/
    padding-left: 0;
    padding-right: 0;
}

.margin {
    border: solid;
    margin-left: 0;
    margin-right: 0;
}

/* 顶部 */
.top-row {
    background-color: #1d7ad9;
}

.top-col {
    height: 30px;
}

.custom-phone {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #ffffff;
}

.head-btn {
    float: right;
}

.head-btn button {
    margin-top: -1px;
    height: 31px;
    font-size: 14px;
    border: none;
    border-left: 1px solid;
}

.login {
    color: #ffffff;
    background-color: #1d7ad9;
}

.register {
    width: 80px;
    color: #333333;
    background-color: #ffffff;
}

/* 导航条 */
.nav-row {
    background-color: #f9f9f9;
}

.navbar-default .navbar-nav > li > a {
    color: #333333;
    background-color: #ffffff;
}

.my-navbar {
    margin-bottom: 0;
    border: none;
}

.my-navbar-nav {
    float: right;
    /*height: 70px;*/
}

.my-navbar-nav li {
    display: flex;
    align-items: center;
    height: 71px;
    margin-left: 31px;
}

.my-navbar-nav li a {
    padding: 5px 9px;
    font-size: 14px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.home-page {
    color: #ffffff;
    background-color: #1d7ad9;
}

/* 流程图 */
.proc-row {
    padding-top: 20px;
    padding-bottom: 64px;
}

.whole-proc {
    float: right;
    list-style: none;
}

.every-procedure {
    /*border:solid;*/
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 -3px;
    width: 110px;
}

.line {
    /*border:solid;*/
    position: absolute;
    z-index: -1;
    width: 110px;
    height: 4px;
    background-color: #cccccc;
    border-radius: 15px;
}

@media screen and (max-width: 488px) {
    .every-procedure {
        width: 90px;
    }

    .line {
        width: 90px;
    }

    .every-procedure .step-text {
        font-size: 12px;
    }
}

@media screen and (max-width: 408px) {
    .every-procedure {
        width: 70px;
    }

    .line {
        width: 70px;
    }
}

@media screen and (max-width: 328px) {
    .every-procedure {
        width: 50px;
    }

    .line {
        width: 50px;
    }

    .every-procedure .step-text {
        font-size: 8px;
    }
}

.circle {
    /*border: solid;*/
    text-align: center;
    width: 15px;
    height: 15px;
    font-size: 10px;
    color: #ffffff;
    border-radius: 50%;
    background-color: #cccccc;
}

.this-proc .circle, .this-proc .line {
    background-color: #ff7f02;
}

.step-text {
    position: absolute;
    top: 160%;
    font-size: 16px;
}

.every-procedure .step-text {
    color: #cccccc;
}

.this-proc .step-text {
    color: #ff7f02;
}

/* 提示 */
.hint-col {
    display: flex;
    align-items: center;
    height: 38px;
}

.hint-col span {
    font-size: 20px;
}

.hint-icon {
    display: inline-block;
    width: 4px;
    height: 21px;
    margin-right: 3px;
    background-color: #1d7ad9;
    border-radius: .5vw;
}

/* 选择箱形 */
.box-title {
    padding-left: 30px;
    font-size: 16px;
    background: url(images/box.png) no-repeat;
    background-size: 19px;
    background-position: 6px;
    background-color: #f4f4f4;
}

.box-row {
    background-color: #fbfcff;
}

.box-row div {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    height: 58px;
}

@media screen and (max-width: 991px) {
    .box-row div {
        justify-content: center;
    }
}

input[type="radio"] {
    /*display: inline-block;*/
    margin-top: 0;
    margin-right: 5px;
    width: 15px;
    height: 15px;
}

input[type="radio"]:checked {

}

.my-caret {
    /*color: #ffffff;*/
}

input[type="text"] {
    width: 48px;
}

/* 确定尺寸 */
.size-title {
    padding-left: 30px;
    font-size: 16px;
    background: url(images/ruler.png) no-repeat;
    background-size: 19px;
    background-position: 6px;
    background-color: #f4f4f4;
}
.sub-twice-row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub-third-row div {
    display: flex;
    align-items: center;
    height: 58px;
}

.fill-in {

    margin-right: 32px;
}
@media screen and (max-width: 991px) {
    .sub-third-row div {
        justify-content: center;
    }
    .fill-in {

        margin-right: 0;
    }
}